*{
    margin: 0%;
    padding: 0%;
    --primary-color:rgb(213,0,0);
    --primary-color-transparent:rgb(213,0,0,0.6);
    --white:#ffffff;
    --black:#000000;
    --black-transparent:rgba(0,0,0,0.7);
    --gray-transparent:rgba(167,167,167,0.4);

}
.container{
    width: 1170px;
    margin: 0% auto;
 }
.header{
    position: relative;
}
.header-img img {height: 100%;
    width: 100%;

}
.top-red-bar{
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: var(--primary-color-transparent);
    top:0%
}
.top-red-bar a{
    color:var(--white);
    font-size: 20px;
    text-decoration: none;
    display: flex;
    margin-top: 12px;
    margin-left: 130px;
}
.icons-bar{
    display: flex;
    position: absolute;
    top: 0%;
    right: 0%;
    color: var(--white);
    text-decoration: none;
    margin-right: 120px;
   
}
.icons-bar a{
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    margin-top: 12px;
    
}
.icons-bar a:hover{
    color: var(--black);
    
}
.icons-bar a span{
    -webkit-transition: width 2s,-webkit-transform 2s;
}
.icons-bar a span:hover{
    color: var(--black);
    display: inline-block;
    -webkit-transform:rotateY(-360deg);
}
.top-black-bar{
    position: absolute;
    top: 50px;
    width: 100%;
    height: 95px;
    background-color:var(--black-transparent);
}
.top-black-bar img{
    height: 50px;
    position: absolute;
    top: 20px;
    left: 150px;
}
.black-bar-names{
    position: absolute;
    top: 79px;
    right: 225px;
    

}
.black-bar-names a{
    text-decoration: none;
    color: var(--white);
    margin: 0 14px;
    font-size: 22px;
    font-family: 'Anton', sans-serif;
    
}
.black-bar-names a:hover{
    background-color: var(--primary-color);
    padding: 6px 4px;
    border-radius: 6px;
}
.black-bar-names a:nth-child(1){
    background-color: var(--primary-color);
    padding: 6px 7px;
    border-radius: 4px;
    margin-right: 14px;
}
.black-bar-icons{
    position: absolute;
    top: 83px;
    right: 130px;
      
}
.black-bar-icons a{
    text-decoration: none;
}
.black-bar-icons span{
    color: var(--white);
    font-size: 22px;
    margin: 12px;
    
}
.image-inner-text{
    position: absolute;
    top: 200px;
    right: 170px;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;

}
.image-inner-text h1{
    font-size: 75px;
}
.red-menu{
    position: absolute;
    top: 420px;
    right: 365px;
}
.red-menu a{
    color: var(--white);
    background-color: var(--primary-color);
    font-size: 25px;
    padding:6px 24px;
    text-decoration: none;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;

}
.red-menu a:hover{
    background-color: var(--white);
    font-family: 'Open Sans', sans-serif;
    color: var(--primary-color);
}
.main-content{
    position: relative;
}
.lead-text{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 32px;
    color: var(--primary-color);
    font-family: 'Anton', sans-serif; 
}
.lead-text h2{
    position: relative;
    display: inline-block;
}
.lead-text h2::after{
    content:"";
    width: 30px;
    height: 5px;
    background-color: var(--gray-transparent);
    display: inline-block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: -32px;
}
.lead-text h2::before{
    content:"";
    width: 30px;
    height: 5px;
    background-color: var(--gray-transparent);
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: rotateY('-50%');
   right: -32px;
}
.menu-inner-wrapper{
    display: flex;
}
.overlay{
    position: absolute;
    inset: 0;
    background-color: var(--black-transparent);
}
.menu-inner-wrapper .menu-card{
    position: relative;
    width: 25%;
    margin:0px 10px;
}
.menu-inner-wrapper .menu-card img{
    width: 100%;
    display: block;
}
.menu-inner-wrapper .menu-card h2{
    position: absolute;
    color: var(--white);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.menu-inner-wrapper{
    display: flex;
}
.menu-inner-wrapper .menu-card{
    width: 25%;
    position: relative;
    margin: 0 10px;
}
.overlay{
    position: absolute;
    inset: 0;
    background-color: var(--black-transparent);
}
.overlay-hover{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
}
.menu-inner-wrapper .menu-card img{
    width: 100%;
    display: block;
}
.menu-inner-wrapper .menu-card h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
}


.menu-card:hover .overlay-hover{
    opacity: 1;
    transition: all 1s;
}
.menu-card:hover .overlay h2{
    display: none;
}
.overlay-hover .rect{
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
    rotate: 45deg;
    position: absolute;
    top: 72%;
    left: 16%;
    transform: translate(-50%, -50%);
    scale: 0;
    transition: scale 1s;
}
.menu-card:hover .overlay-hover .rect{
    scale: 1;
}
.overlay-hover p{
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 22px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.offer-image{
    margin-top: 70px;
    position: relative;
}
.offer-image img{
    width: 100%;
}
.offer-image .offer-details{
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translateY(-50%);
}
.offer-image .offer-details h2{
    color: var(--primary-color);
    font-size: 50px;
    margin-bottom: 12px;
}
.offer-image .offer-details p{
    color: gray;
    margin-bottom: 15px;
    font-size: 22px;
}
.offer-image .offer-details a{
    position: absolute;
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: none;
    padding: 15px 15px;
    left: 70px;
    border-radius: 6px;
}
.offer-image .offer-details a:hover{
    color: var(--white);
    background-color: var(--black);
}
.menu-wrapper{
    
}
.menu-head{
   font-family:sans-serif;
    width: 100%;
    background-color: var(--primary-color);
    height: 110px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.menu-head h2{
    color: var(--white);
    font-size: 28px;
}
.menu-wrapper-inner{
    display: flex;
}
.menu-wrapper-inner .menu-image{
    width: 50%;
}
.menu-wrapper-inner .menu-image img{
    width: 100%;
    display: block;
}
.menu-wrapper-inner .menu-detail{
    width: 50%;
  
}
.menu-wrapper-inner .menu-detail .menu-detail-inner{
    width: 100%;
  
}
.menu-detail{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-detail ul{
    list-style-type: none;
    
}
.menu-detail h2{
    font-size: 40px;
    margin-bottom: 10%;
    color: var(--primary-color);
    text-align: center;
}
.menu-detail h3{
   text-align: center;
}

.menu-detail ul li{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;
}
.menu-detail ul li::before{
    content: "\e99a";
    font-family: "icomoon" !important;
    position: absolute;
    left: 3px;
    color: var(--primary-color);
}
.menu-detail ul li .line{
    width: 60%;
    border-top: grey dotted 1.5px;
    margin: 0px 7px;
}
.menu-item{
    flex: 1;
}
.menu-item:nth-child(2){
    flex: 3;
}
.menu-detail ul .burger::before{
    content: "\e9bd";
    font-family: "icomoon" !important;
    position: absolute;
    left: 3px;
    color:brown;
}
.menu-detail ul .pasta::before{
    content: "\e900";
    font-family: "icomoon" !important;
    position: absolute;
    left: 12px;
    color:rgb(145, 145, 25);
}
.menu-detail ul .salad::before{
    content: "\e9a4";
    font-family: "icomoon" !important;
    position: absolute;
    left: 6px;
    color:rgb(42, 108, 8);
}
.phone-number{
    background-color: var(--primary-color);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-number a{
   
    color: var(--white);
    text-decoration: none;
    font-size: 25px;
   
}
.section-map iframe{
    width: 100%;
}
.bottom-social-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 490px;
    width: 100%;
    background-color: var(--primary-color);
    position: relative;
}
.bottom-social-bar a{
    color: var(--white);
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 12%;

}
ul.social-icons{
    position: absolute;
    display: flex;
    list-style-type: none;
    
}
ul.social-icons a span{
    font-size: 18px;
    margin: 0px 20px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 20px 14px;
    -webkit-transition: width 2s,-webkit-transform 2s;

}
ul.social-icons a span:hover{
    padding: 20px 14px;
     background-color: var(--black);
    display: inline-block;
    -webkit-transform:rotateY(-360deg);


}
ul.social-icons a{
    color: var(--white);
}
.bottom-social-bar ul.location{
    position: absolute;
    top: 330px;
    list-style-type: none;
    
}
.bottom-social-bar ul.location li a {
    font-size: 20px;
}
.bottom-social-bar ul.location li a:hover{
    background-color: var(--black);
    color: var(--white);
    padding: 18px 18px;
    border-radius: 12px;
}
.footer-end-bar{
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;

}
.footer-end-bar h5{
    color: rgb(142, 139, 139);

}